<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Customer Service Representative</h3>
                            <div class="time">Jul 2016 – Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Microcenter Electronics</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Awarded as the highest performing front end customer service representative; successfully sold warranties in 14% of transactions, compared to the departmental average of 4%</li>
                        <li>Created innovative solutions for the tech issues of 1000+ customers by engineering a conglomerate of products to remedy problems</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Jun 2015 – Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Abransom Cancer Center – University of Pennsylvania</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Co-authored research manuscript: “Targeting Mitochondrial Biogenesis to Overcome Drug Resistance to MAPK Inhibitors,” published in JCI by the American Society for Clinical Investigation</li>
                        <li>Organized melanoma sample slides, obtained patient consent to participate in research, and maintained research data of 1600+ patients</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Genome Analytics Intern</h3>
                            <div class="time">Jun 2013 – Aug 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Kulathinal Lab – Temple University</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Analyzed the human genome by writing over 1000+ lines of code</li>
                        <li>Designed a database for high school students to store location data pulled from a web application</li>
                        <li>Designed a website to display information regarding the laboratory programs and research using WordPress</li>
                        <li>Bred fruit flies and studied their behavior across generations when exposed to specific environmental stimuli</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lab Intern</h3>
                            <div class="time">Jun 2012 – Aug 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Amaravadi Lab – University of Pennsylvania</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Studied cell response to chemotherapy in 500+ slides by categorizing autophagic vesicles for carcinoma research</li>
                        <li>Cultured 10 batches of cancer cells by meticulously feeding, centrifuging, and suspending them daily</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
